<h1 class="map-title">カオスマップ</h1>

<!-- <table>
 <thead>
 	<tr>
 	  <th>ID</th>
 	  <th>カテゴリ（大）</th>
 	  <th>カテゴリ（小）</th>
 	  <th>ロゴイメージ</th>
 	</tr>
 </thead> -->

<!--  <tbody> -->
  <% @posts.each do |post| %>
 	<!-- <tr> -->
 	  <!-- <div><%= post.id %></div> -->
 	  <div class="category_large">
 	  	<h2><%= post.category_large %></h2>
 	  	<div class="category_small">
 	  		<h3><%= post.category_small %></h3>
 	  		<p><%= attachment_image_tag post, :logo, :fill, 320, 40 %></p>
 	  	</div>
 	  </div>
 	<!-- </tr> -->
  <% end %>
<!--  </tbody> -->
<!-- </table> -->

<p class="link-to-new"><%= link_to("新規投稿", new_post_path) %></p>